* {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: 600;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: fixed;
}

body {
    background: #f2f2f2 url(../img/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

.hide {
    display: none;
}

.profile-image {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #848f99;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
