/* Panels */

.panels {
    position: absolute;
    top: 120px;
    right: 20px;
    bottom: 0px;
    left: 20px;
    display: flex;
    justify-content: space-between;
}

.panel {
    flex: 1;
    height: 100%;
    background-color: #fff;
    position: relative;
    -webkit-border-top-left-radius: 3px;
       -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
       -moz-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.5);
            box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.panel .toolbar {
    width: 100%;
    height: 50px;
    box-shadow: 0px 2px 2px -1px rgba(50, 50, 50, 0.15);
}

/* Task List Panel */

.panels.view-mode .task-list-panel {
    max-width: 1000px;
    margin: 0px auto;
}

.panels.edit-mode .task-list-panel {
    flex-basis: 10%;
    max-width: initial;
    margin: initial;
}

/* Task List Panel - Toolbar */

.task-list-panel .btn-add-task {
    color: #14aaf5;
    background-color: #fff;
    padding: 0px 9px;
    height: 30px;
    margin: 10px 30px;
    outline: none;
    cursor: pointer;
    border: 1px solid #14aaf5;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.task-list-panel .btn-settings {
    float: right;
    background-color: #fff;
    border: 0px;
    width: 20px;
    height: 20px;
    margin: 15px 16px;
    outline: none;
    background: url(../img/icons/settings-16x16.png) center center no-repeat;
    cursor: pointer;
}

/* Task List Panel - Task List */

.task-list-panel .task-list ul {
    list-style-type: none;
}

.task-list-panel .task-list ul li {
    display: block;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
}

.task-list-panel .task-list ul li.task {
    cursor: pointer;
}

.task-list-panel .task-list ul li.dragging {
    display: none !important;
}

.task-list-panel .task-list ul li span {
    display: inherit;
    line-height: inherit;
    height: inherit;
    border-bottom: 1px solid #e0e6e8;
    margin: 0px 30px;
    padding-left: 30px;
}

.task-list-panel .task-list ul li.task > span {
    background: url(../img/icons/checked-20x20.png) left center no-repeat;
}

.task-list-panel .task-list ul li.task:hover {
    background-color: #edf8ff;
}

.task-list-panel .task-list ul li.active {
    background: #edf8ff url(../img/icons/caret-right-16x16.png) right 13px center no-repeat;
}

.task-list-panel .task-list ul li.task:hover > span,
.task-list-panel .task-list ul li.active > span {
    background: url(../img/icons/circle-16x16.png) center right no-repeat;
    border: 0px;
}

.task-list-panel .task-list ul li.insert-before:before,
.task-list-panel .task-list ul li.insert-after:after {
    content: '';
    display: block;
    height: 35px;
    background-color: #fafafa;
}

.task-list-panel .task-list ul li.insert-before,
.task-list-panel .task-list ul li.insert-after {
    margin-bottom: 35px;
}

/* Task Edit Panel */

.task-edit-panel {
    margin-left: 15px;
}

/* Task Edit Panel - Toolbar */

.task-edit-panel .user-info {
    float: left;
    display: inline-block;
    margin: 10px 30px;
    font-weight: normal;
    line-height: 30px;
}

.task-edit-panel .user-info .profile-image {
    float: left;
    margin-right: 10px;
}

.task-edit-panel .user-info .circle {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../img/icons/circle-16x16.png) center -1px no-repeat;
}

.task-edit-panel .task-options {
    float: left;
    display: inline-block;
    line-height: 30px;
    margin: 10px 30px;
}

.task-edit-panel .task-options .due-date {
    float: left;
    color: #89939d;
    margin-left: 10px;
    margin-right: 12px;
}

.task-edit-panel .task-options .btn {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #b7bfc6;
    border-radius: 50%;
    margin-left: 5px;
}

.task-edit-panel .task-options .btn-schedule {
    margin-left: 0px;
    border: 1px dashed #b7bfc6;
    background: url(../img/icons/calendar-16x16.png) center center no-repeat;
}

.task-edit-panel .task-options .btn-like {
    background: url(../img/icons/heart-16x16.png) center center no-repeat;
}

.task-edit-panel .task-options .btn-sort {
    background: url(../img/icons/sort-16x16.png) center center no-repeat;
}

.task-edit-panel .task-options .btn-attach {
    background: url(../img/icons/paper-clip-16x16.png) center center no-repeat;
}

.task-edit-panel .task-options .btn-more-options {
    background: url(../img/icons/more-options-16x16.png) center center no-repeat;
}

.task-edit-panel .btn-close {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    background: url(../img/icons/close-16x16.png) center center no-repeat;
    margin: 8px;
}

/* Task Edit Panel - Content */

.task-edit-panel .content fieldset {
    padding: 55px 30px 55px 20px;
}

.task-edit-panel .content fieldset input,
.task-edit-panel .content fieldset textarea {
    display: block;
    width: 100%;
}


.task-edit-panel .content fieldset input {
    height: 42px;
    padding: 0px 10px 0px 50px;
    margin-bottom: 5px;
    font-size: 23px;
    background: url(../img/icons/checked-30x30.png) 9px center no-repeat;
}

.task-edit-panel .content fieldset .description {
    padding-left: 40px;
}

.task-edit-panel .content fieldset .description textarea {
    font-weight: normal;
    padding: 10px;
}

/* Task Edit Panel - Comment */

.task-edit-panel .comment {
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f8f9;
    border-top: 1px solid #e0e6e8;
    padding: 10px 30px;
}

.task-edit-panel .comment img {
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.task-edit-panel .comment fieldset {
    height: 100px;
}

.task-edit-panel .comment fieldset textarea {
    width: 100%;
    height: inherit;
    padding: 10px;
    border: 1px solid #d5dce0;
    font-weight: normal;
}

